### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
unique_players = purchase_data['SN'].value_counts()
total_players = len(unique_players)
total_players_df = pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
num_unique_items = purchase_data['Item Name'].nunique()
num_unique_items

179

In [6]:
avg_price = purchase_data['Price'].mean()
avg_price = round(avg_price,2)
avg_price

3.05

In [7]:
num_purchases = len(purchase_data['Purchase ID'])
num_purchases

780

In [8]:
total_revenue = purchase_data['Price'].sum()
total_revenue

2379.77

In [9]:
summary_df = pd.DataFrame({"Number of Unique Items": [num_unique_items], 
                           "Average Price": [avg_price],
                          "Number of Purchases": [num_purchases],
                            "Total Revenue": [total_revenue]})
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [10]:
summary_df["Average Price"] = summary_df["Average Price"].map(
    "${0:,.2f}".format)
summary_df

   Number of Unique Items Average Price  Number of Purchases  Total Revenue
0                     179         $3.05                  780        2379.77

In [11]:
summary_df["Total Revenue"] = summary_df["Total Revenue"].map(
    "${0:,.2f}".format)
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [97]:
purchase_count = grouped_gender_df.count().head().drop(columns = ['SN', 'Age', 
                                                                  'Item ID'], axis = 1)
# purchase_count = purchase_count.rename({'Purchase ID': 'Purchase Count'})
purchase_count

                       Purchase ID  Item Name  Price
Gender
Female                         113        113    113
Male                           652        652    652
Other / Non-Disclosed           15         15     15

In [179]:
#Retreive value counts of "Gender" feature
sn = grouped_gender_df['SN'].nunique()
sn

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [168]:
dist_sn = sn/sn.sum()*100
dist_sn = round(dist_sn,2)
dist_sn

Gender
Female                   14.06
Male                     84.03
Other / Non-Disclosed     1.91
Name: SN, dtype: float64

In [169]:
gender_demo = pd.DataFrame({"Total Count": sn,
                            "Percentage of Players": dist_sn})
gender_demo.head()

                       Total Count  Percentage of Players
Gender
Female                          81                  14.06
Male                           484                  84.03
Other / Non-Disclosed           11                   1.91

In [170]:
gender_demo["Percentage of Players"] = gender_demo["Percentage of Players"].map(
    "{0:,.2f}%".format)
gender_demo.head()

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [174]:
# Sort results in descending order
#remove "gender" column header
gender_demo = gender_demo.sort_values(["Percentage of Players"], ascending=False)
gender_demo.head()

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [127]:
#Retreive value counts of "Gender" feature
gender_counts = purchase_data['Gender'].value_counts()
gender_counts

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [114]:
gender_counts.sum()

780

In [117]:
avg_purchase_price = grouped_gender_df['Price'].mean()
avg_purchase_price = round(avg_purchase_price,2)
avg_purchase_price

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [122]:
total_purchase_value = grouped_gender_df['Price'].sum()
total_purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [155]:
#Need to work on formula
avg_total_ppp = total_purchase_value/sn
avg_total_ppp

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [162]:
gender_demo = pd.DataFrame({"Purchase Count": gender_counts,
                            "Average Purchase Price": avg_purchase_price,
                            "Total Purchase Value": total_purchase_value,
                           "Avg Total Purchase per Person": avg_total_ppp})
gender_demo.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,3.20,361.94,4.468395
Male,652,3.02,1967.64,4.065372
Other / Non-Disclosed,15,3.35,50.19,4.562727

In [159]:
gender_demo["Average Purchase Price"] = gender_demo["Average Purchase Price"].map(
    "${0:,.2f}".format)
gender_demo.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,361.94,4.468395
Male,652,$3.02,1967.64,4.065372
Other / Non-Disclosed,15,$3.35,50.19,4.562727

In [160]:
gender_demo["Total Purchase Value"] = gender_demo["Total Purchase Value"].map(
    "${0:,.2f}".format)
gender_demo.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,4.468395
Male,652,$3.02,"$1,967.64",4.065372
Other / Non-Disclosed,15,$3.35,$50.19,4.562727

In [161]:
gender_demo["Avg Total Purchase per Person"] = gender_demo["Avg Total Purchase per Person"].map(
    "${0:,.2f}".format)
gender_demo.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [180]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [196]:
ages = purchase_data['Age'].value_counts()
ages.sort_index(ascending=True)

7      9
8      8
9      6
10     9
11     7
12     6
13     4
14     2
15    35
16    30
17    22
18    26
19    23
20    99
21    62
22    70
23    67
24    67
25    59
26    14
27    10
28     5
29    13
30    35
31     7
32     8
33    14
34     9
35    14
36     5
37     7
38     9
39     6
40     6
41     2
42     1
43     1
44     2
45     1
Name: Age, dtype: int64

In [238]:
ages_sum = age_group
ages_sum

In [243]:
bins = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,45.9]
bin_names = ['<10','10-14','15-19','20-24','25-29',
             '30-34','35-39','40+']
purchase_data[''] = pd.cut(purchase_data['Age'],
                           bins, labels=bin_names,
                           include_lowest=True)
#purchase_data = purchase_data.drop(columns = ['Purchase ID', 'SN',
#                               'Gender','Item Name',
#                               'Price'], axis = 1)
# purchase_data.info()
age_group = purchase_data.groupby('').apply(lambda )
pop = age_group['Item ID']/ages_sum*100
pop

TypeError: unsupported operand type(s) for /: 'SeriesGroupBy' and 'DataFrameGroupBy'

In [221]:
age_group['Purchase ID']/ages_sum*100

TypeError: unsupported operand type(s) for /: 'SeriesGroupBy' and 'DataFrameGroupBy'

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame